--
-- PostgreSQL database dump
--

\restrict J80bhimDK8l5ufbkqSwS6YUi1khwBRJ8HD8kNd95PhRJsdCypHdXku1pqfWLPdM

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: devis_status_enum; Type: TYPE; Schema: public; Owner: devuser
--

CREATE TYPE public.devis_status_enum AS ENUM (
    'pending',
    'accepted',
    'rejected',
    'expired'
);


ALTER TYPE public.devis_status_enum OWNER TO devuser;

--
-- Name: request_quotes_status_enum; Type: TYPE; Schema: public; Owner: devuser
--

CREATE TYPE public.request_quotes_status_enum AS ENUM (
    'open',
    'expired',
    'closed'
);


ALTER TYPE public.request_quotes_status_enum OWNER TO devuser;

--
-- Name: avg_quote_amount(); Type: FUNCTION; Schema: public; Owner: devuser
--

CREATE FUNCTION public.avg_quote_amount() RETURNS numeric
    LANGUAGE plpgsql STABLE
    AS $$

DECLARE

  avg_price numeric;

BEGIN

  SELECT AVG(d.price)::numeric INTO avg_price

  FROM public.devis d

  WHERE d.status = 'pending';

  RETURN avg_price;

END;

$$;


ALTER FUNCTION public.avg_quote_amount() OWNER TO devuser;

--
-- Name: avg_response_time(); Type: FUNCTION; Schema: public; Owner: devuser
--

CREATE FUNCTION public.avg_response_time() RETURNS numeric
    LANGUAGE plpgsql STABLE
    AS $$

DECLARE

  avg_hours numeric;

BEGIN

  SELECT AVG(EXTRACT(EPOCH FROM (q.created_at - rq.created_at)) / 3600) INTO avg_hours

  FROM public.request_quotes rq

  LEFT JOIN LATERAL (

    SELECT created_at FROM public.devis d WHERE d.request_id = rq.id ORDER BY d.created_at LIMIT 1

  ) q ON true

  WHERE rq.status = 'open';

  RETURN avg_hours;

END;

$$;


ALTER FUNCTION public.avg_response_time() OWNER TO devuser;

--
-- Name: most_active_canton(); Type: FUNCTION; Schema: public; Owner: devuser
--

CREATE FUNCTION public.most_active_canton() RETURNS TABLE(canton text, requests bigint)
    LANGUAGE plpgsql STABLE
    AS $$

BEGIN

  RETURN QUERY

  SELECT rq.canton, COUNT(*)::bigint AS requests

  FROM public.request_quotes rq

  GROUP BY rq.canton

  ORDER BY COUNT(*) DESC

  LIMIT 1;

END;

$$;


ALTER FUNCTION public.most_active_canton() OWNER TO devuser;

--
-- Name: providers_by_category(); Type: FUNCTION; Schema: public; Owner: devuser
--

CREATE FUNCTION public.providers_by_category() RETURNS TABLE(category_name text, count bigint)
    LANGUAGE plpgsql STABLE
    AS $$

BEGIN

  RETURN QUERY

  SELECT c.name as category_name, COUNT(*)::bigint as count

  FROM public.provider_profiles pp

  INNER JOIN public.categories c ON pp.category_id = c.id

  GROUP BY c.name

  ORDER BY COUNT(*) DESC

  LIMIT 5;

END;

$$;


ALTER FUNCTION public.providers_by_category() OWNER TO devuser;

--
-- Name: regional_activity(); Type: FUNCTION; Schema: public; Owner: devuser
--

CREATE FUNCTION public.regional_activity() RETURNS TABLE(canton text, requests bigint)
    LANGUAGE plpgsql STABLE
    AS $$

BEGIN

  RETURN QUERY

  SELECT rq.canton, COUNT(*)::bigint as requests

  FROM public.request_quotes rq

  GROUP BY rq.canton

  ORDER BY COUNT(*) DESC

  LIMIT 5;

END;

$$;


ALTER FUNCTION public.regional_activity() OWNER TO devuser;

--
-- Name: request_status_breakdown(); Type: FUNCTION; Schema: public; Owner: devuser
--

CREATE FUNCTION public.request_status_breakdown() RETURNS TABLE(status text, count bigint)
    LANGUAGE plpgsql STABLE
    AS $$

BEGIN

  RETURN QUERY

  SELECT rq.status::text, COUNT(*)::bigint as count

  FROM public.request_quotes rq

  GROUP BY rq.status

  ORDER BY count DESC;

END;

$$;


ALTER FUNCTION public.request_status_breakdown() OWNER TO devuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.categories OWNER TO devuser;

--
-- Name: devis; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.devis (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    price numeric DEFAULT '0'::numeric NOT NULL,
    subsidy_eligible boolean DEFAULT false NOT NULL,
    submitted_at timestamp with time zone DEFAULT now() NOT NULL,
    accepted_at timestamp with time zone,
    status public.devis_status_enum DEFAULT 'pending'::public.devis_status_enum NOT NULL,
    pdf_url character varying,
    energy_type character varying,
    request_id uuid NOT NULL,
    provider_id uuid NOT NULL,
    is_recommended boolean DEFAULT false,
    estimated_savings numeric,
    warranty_years integer,
    installer_rating numeric,
    visibility_status character varying DEFAULT 'allowed'::character varying NOT NULL,
    credit_cost integer DEFAULT 0 NOT NULL,
    score numeric,
    timeline character varying(50),
    notes text,
    reason text,
    expiration_date timestamp with time zone
);


ALTER TABLE public.devis OWNER TO devuser;

--
-- Name: feedback; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.feedback (
    id integer NOT NULL,
    rating integer NOT NULL,
    message text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    user_id uuid
);


ALTER TABLE public.feedback OWNER TO devuser;

--
-- Name: feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.feedback_id_seq OWNER TO devuser;

--
-- Name: feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.feedback_id_seq OWNED BY public.feedback.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    meta jsonb,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    sent_push boolean DEFAULT false NOT NULL,
    sent_at timestamp with time zone,
    sent_email boolean DEFAULT false NOT NULL,
    sent_email_at timestamp with time zone,
    "userId" uuid,
    user_id character varying NOT NULL,
    title character varying NOT NULL,
    body character varying,
    type character varying NOT NULL,
    entity_id character varying
);


ALTER TABLE public.notifications OWNER TO devuser;

--
-- Name: plans; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.plans (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    max_visible_quotes integer DEFAULT 3 NOT NULL,
    price numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    currency character varying(10) DEFAULT 'CHF'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.plans OWNER TO devuser;

--
-- Name: plans_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.plans_id_seq OWNER TO devuser;

--
-- Name: plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.plans_id_seq OWNED BY public.plans.id;


--
-- Name: provider_credit_history; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.provider_credit_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    change integer NOT NULL,
    reason character varying,
    provider_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.provider_credit_history OWNER TO devuser;

--
-- Name: provider_credits; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.provider_credits (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    balance integer DEFAULT 0 NOT NULL,
    last_recharge timestamp with time zone,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    provider_id uuid
);


ALTER TABLE public.provider_credits OWNER TO devuser;

--
-- Name: provider_profiles; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.provider_profiles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    experience_years integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    rating double precision DEFAULT 0 NOT NULL,
    completed_projects integer DEFAULT 0 NOT NULL,
    certifications text[],
    languages text[],
    verified boolean DEFAULT false NOT NULL,
    user_id character varying NOT NULL,
    sector character varying,
    sub_sector character varying,
    company_name character varying,
    address character varying,
    phone character varying,
    category_id character varying NOT NULL,
    portfolio_url character varying,
    availability character varying,
    status character varying DEFAULT 'pending'::character varying NOT NULL,
    "userId" uuid,
    "categoryId" uuid
);


ALTER TABLE public.provider_profiles OWNER TO devuser;

--
-- Name: provider_subscriptions; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.provider_subscriptions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    credits integer NOT NULL,
    price_chf integer NOT NULL,
    response_time_hours integer NOT NULL,
    purchased_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    plan character varying NOT NULL,
    provider_id uuid NOT NULL
);


ALTER TABLE public.provider_subscriptions OWNER TO devuser;

--
-- Name: push_subscriptions; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.push_subscriptions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_used timestamp with time zone,
    "userId" uuid,
    user_id character varying NOT NULL,
    endpoint character varying NOT NULL,
    p256dh character varying NOT NULL,
    auth character varying NOT NULL
);


ALTER TABLE public.push_subscriptions OWNER TO devuser;

--
-- Name: request_quotes; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.request_quotes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    image_urls text[] DEFAULT '{}'::text[] NOT NULL,
    video_urls text[] DEFAULT '{}'::text[] NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    status public.request_quotes_status_enum DEFAULT 'open'::public.request_quotes_status_enum NOT NULL,
    expiration timestamp with time zone,
    provider_ids text[] DEFAULT '{}'::uuid[] NOT NULL,
    official_quote_id uuid,
    clerk_id character varying,
    project_type character varying NOT NULL,
    canton character varying NOT NULL,
    surface character varying,
    budget character varying,
    details character varying,
    name character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying NOT NULL,
    category_id character varying NOT NULL,
    "categoryId" uuid,
    "clerkId" uuid
);


ALTER TABLE public.request_quotes OWNER TO devuser;

--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.subscriptions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    start_date timestamp with time zone DEFAULT now() NOT NULL,
    end_date timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    plan_id integer,
    max_visible_quotes integer DEFAULT 4 NOT NULL,
    "userId" uuid,
    "planId" integer,
    user_id character varying NOT NULL,
    plan_name character varying DEFAULT 'free'::character varying NOT NULL,
    status character varying DEFAULT 'inactive'::character varying NOT NULL
);


ALTER TABLE public.subscriptions OWNER TO devuser;

--
-- Name: user_usage; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.user_usage (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    devis_received_count integer DEFAULT 0 NOT NULL,
    last_reset timestamp with time zone DEFAULT now() NOT NULL,
    "userId" uuid,
    user_id character varying NOT NULL
);


ALTER TABLE public.user_usage OWNER TO devuser;

--
-- Name: users; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    role text DEFAULT 'client'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    clerk_id character varying NOT NULL,
    email character varying NOT NULL
);


ALTER TABLE public.users OWNER TO devuser;

--
-- Name: feedback id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.feedback ALTER COLUMN id SET DEFAULT nextval('public.feedback_id_seq'::regclass);


--
-- Name: plans id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.plans ALTER COLUMN id SET DEFAULT nextval('public.plans_id_seq'::regclass);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.categories (id, name, created_at) FROM stdin;
574d8c91-a5eb-4ae5-a297-e5932bb390ca	panneaux solaires	2025-10-13 15:27:15.043858+00
6ea087b1-ca27-4c09-96f3-6150082b09fd	les deux	2025-11-04 14:08:11.751722+00
cc667027-78a0-4b1b-a392-2c89ac82bfa2	pompe ├á chaleur	2025-10-13 14:11:34.724418+00
\.


--
-- Data for Name: devis; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.feedback (id, rating, message, created_at, user_id) FROM stdin;
1	3	test with type orm	2025-11-17 15:13:30.953306	bbf1e27c-a5ad-4615-afdd-e2ec9b5ff3c6
2	4	test feedback from provider space	2025-11-17 15:18:29.612413	829b7ad0-dcfc-4e9d-93fd-0e79787c9678
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.plans (id, name, description, max_visible_quotes, price, currency, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: provider_credit_history; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: provider_credits; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.provider_credits (id, balance, last_recharge, updated_at, created_at, provider_id) FROM stdin;
fee9ce64-9f66-4638-9a02-8e173278344e	4	\N	2025-11-15 21:14:17.803964+00	2025-11-19 01:03:22.395252+00	\N
440e79f0-9c69-4f64-9544-8d7132eca20a	115	2025-11-19 04:54:14.714+00	2025-11-19 04:52:47.444236+00	2025-11-19 01:04:37.004679+00	7e46c6d1-cd4e-4393-9ab9-a3d4f7d2ffbd
\.


--
-- Data for Name: provider_profiles; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: provider_subscriptions; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.provider_subscriptions (id, credits, price_chf, response_time_hours, purchased_at, expires_at, created_at, updated_at, plan, provider_id) FROM stdin;
dbc96bf8-c38f-468c-80af-a536ec73c23d	10	1200	2	2025-11-19 04:54:14.636+00	\N	2025-11-19 02:53:17.57119+00	2025-11-19 04:52:47.402883+00	croissance	7e46c6d1-cd4e-4393-9ab9-a3d4f7d2ffbd
\.


--
-- Data for Name: push_subscriptions; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.push_subscriptions (id, created_at, last_used, "userId", user_id, endpoint, p256dh, auth) FROM stdin;
f8441e5e-89e9-4ed9-9bc8-8a048d280250	2025-11-17 13:22:52.899+00	2025-11-19 04:36:30.044+00	\N	7e46c6d1-cd4e-4393-9ab9-a3d4f7d2ffbd	https://updates.push.services.mozilla.com/wpush/v2/gAAAAABpGvTdjZXBNYkndi_4098RjweQVq2kYPkbrT-rXbCQgo5i-yhyDXfzx6BSjM2E7KbWRBli-w4_545AgkcR0duSgDrFuPxN7dCnnYBVUX9mJUC1e8yxIOeu0ZbNzNpw3rTrLfC2url0WqPLs1PkH9Qxo8laYWsIhG7FWrxXgFpZV_a4I2A	BH-NxC3LTgmP2xCIusJLsUFkBYeqJba9aWvO0zSOCGs9HfdkKYYf2I77UhCPBb0N1YvxCldQ_TIQTlppUf5ulAo	uDH4UPQcWy57WA2e9QP7ig
\.


--
-- Data for Name: request_quotes; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.subscriptions (id, start_date, end_date, created_at, updated_at, plan_id, max_visible_quotes, "userId", "planId", user_id, plan_name, status) FROM stdin;
\.


--
-- Data for Name: user_usage; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.user_usage (id, devis_received_count, last_reset, "userId", user_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.users (id, role, created_at, updated_at, clerk_id, email) FROM stdin;
bbf1e27c-a5ad-4615-afdd-e2ec9b5ff3c6	client	2025-11-15 16:30:53.816177+00	2025-11-15 16:30:53.816177+00	user_33suyhWpZIze4mXbCc3P5XUsQZe	imaneik007@gmail.com
829b7ad0-dcfc-4e9d-93fd-0e79787c9678	provider	2025-11-15 21:14:17.803964+00	2025-11-15 21:14:17.803964+00	user_35WUGQLF32O1WPdPxkPTqBZWrYd	imaneik0910@gmail.com
7e46c6d1-cd4e-4393-9ab9-a3d4f7d2ffbd	provider	2025-11-19 01:04:37.004679+00	2025-11-19 01:04:37.004679+00	user_3546zWxlwEiF0TsQKsUfyKjl9n1	deviscomparatif@gmail.com
\.


--
-- Name: feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.feedback_id_seq', 2, true);


--
-- Name: plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.plans_id_seq', 1, false);


--
-- Name: categories PK_24dbc6126a28ff948da33e97d3b; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "PK_24dbc6126a28ff948da33e97d3b" PRIMARY KEY (id);


--
-- Name: push_subscriptions UQ_0008bdfd174e533a3f98bf9af16; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT "UQ_0008bdfd174e533a3f98bf9af16" UNIQUE (endpoint);


--
-- Name: request_quotes UQ_759e0c4795613f8f66182f66a54; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.request_quotes
    ADD CONSTRAINT "UQ_759e0c4795613f8f66182f66a54" UNIQUE (official_quote_id);


--
-- Name: categories UQ_8b0be371d28245da6e4f4b61878; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "UQ_8b0be371d28245da6e4f4b61878" UNIQUE (name);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: users UQ_bc7be2d54c239f9e1d8a5292117; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_bc7be2d54c239f9e1d8a5292117" UNIQUE (clerk_id);


--
-- Name: devis devis_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.devis
    ADD CONSTRAINT devis_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: provider_credit_history provider_credit_history_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.provider_credit_history
    ADD CONSTRAINT provider_credit_history_pkey PRIMARY KEY (id);


--
-- Name: provider_credits provider_credits_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.provider_credits
    ADD CONSTRAINT provider_credits_pkey PRIMARY KEY (id);


--
-- Name: provider_profiles provider_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.provider_profiles
    ADD CONSTRAINT provider_profiles_pkey PRIMARY KEY (id);


--
-- Name: provider_subscriptions provider_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.provider_subscriptions
    ADD CONSTRAINT provider_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: push_subscriptions push_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: request_quotes request_quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.request_quotes
    ADD CONSTRAINT request_quotes_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: user_usage user_usage_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.user_usage
    ADD CONSTRAINT user_usage_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: IDX_1005a69319b1a827e9cc022358; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_1005a69319b1a827e9cc022358" ON public.request_quotes USING btree (category_id);


--
-- Name: IDX_13f4bb3161f4f999f6b7a24a9d; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_13f4bb3161f4f999f6b7a24a9d" ON public.provider_credits USING btree (provider_id);


--
-- Name: IDX_19c6042eea9d99796be34c25df; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_19c6042eea9d99796be34c25df" ON public.provider_subscriptions USING btree (provider_id);


--
-- Name: IDX_260740156a187b195db9d2b109; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_260740156a187b195db9d2b109" ON public.provider_profiles USING btree (category_id);


--
-- Name: IDX_3ad6a417bcf7df359520ac5df5; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_3ad6a417bcf7df359520ac5df5" ON public.provider_credit_history USING btree (provider_id);


--
-- Name: IDX_5d1880ed16ff13ea6fd9bca019; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_5d1880ed16ff13ea6fd9bca019" ON public.provider_profiles USING btree (user_id);


--
-- Name: IDX_644704cfedcde3fbe8751150cd; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_644704cfedcde3fbe8751150cd" ON public.user_usage USING btree (user_id);


--
-- Name: IDX_6771f119f1c06d2ccf38f23866; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_6771f119f1c06d2ccf38f23866" ON public.push_subscriptions USING btree (user_id);


--
-- Name: IDX_811920636d977859c7737b3265; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_811920636d977859c7737b3265" ON public.request_quotes USING btree (clerk_id);


--
-- Name: IDX_8b0be371d28245da6e4f4b6187; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_8b0be371d28245da6e4f4b6187" ON public.categories USING btree (name);


--
-- Name: IDX_9a8a82462cab47c73d25f49261; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_9a8a82462cab47c73d25f49261" ON public.notifications USING btree (user_id);


--
-- Name: IDX_bc7be2d54c239f9e1d8a529211; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_bc7be2d54c239f9e1d8a529211" ON public.users USING btree (clerk_id);


--
-- Name: IDX_d0a95ef8a28188364c546eb65c; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX "IDX_d0a95ef8a28188364c546eb65c" ON public.subscriptions USING btree (user_id);


--
-- Name: feedback FK_121c67d42dd543cca0809f59901; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT "FK_121c67d42dd543cca0809f59901" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: request_quotes FK_2f7c86fb50bbd7e938fe8dc2f0f; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.request_quotes
    ADD CONSTRAINT "FK_2f7c86fb50bbd7e938fe8dc2f0f" FOREIGN KEY ("clerkId") REFERENCES public.users(id);


--
-- Name: push_subscriptions FK_4cc061875e9eecc311a94b3e431; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT "FK_4cc061875e9eecc311a94b3e431" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- Name: request_quotes FK_4deef7486e3e945e536e6b05a1c; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.request_quotes
    ADD CONSTRAINT "FK_4deef7486e3e945e536e6b05a1c" FOREIGN KEY ("categoryId") REFERENCES public.categories(id);


--
-- Name: notifications FK_692a909ee0fa9383e7859f9b406; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "FK_692a909ee0fa9383e7859f9b406" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- Name: subscriptions FK_7536cba909dd7584a4640cad7d5; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT "FK_7536cba909dd7584a4640cad7d5" FOREIGN KEY ("planId") REFERENCES public.plans(id);


--
-- Name: provider_profiles FK_758b38af8c999e0033879dbdd55; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.provider_profiles
    ADD CONSTRAINT "FK_758b38af8c999e0033879dbdd55" FOREIGN KEY ("categoryId") REFERENCES public.categories(id);


--
-- Name: request_quotes FK_759e0c4795613f8f66182f66a54; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.request_quotes
    ADD CONSTRAINT "FK_759e0c4795613f8f66182f66a54" FOREIGN KEY (official_quote_id) REFERENCES public.devis(id);


--
-- Name: provider_profiles FK_96071d5ba65f9c64f0f2dfdfaf3; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.provider_profiles
    ADD CONSTRAINT "FK_96071d5ba65f9c64f0f2dfdfaf3" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- Name: user_usage FK_b0aea08f9e504209a042939366c; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.user_usage
    ADD CONSTRAINT "FK_b0aea08f9e504209a042939366c" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- Name: devis FK_b0e6e8293cbc33ad802d807eb9e; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.devis
    ADD CONSTRAINT "FK_b0e6e8293cbc33ad802d807eb9e" FOREIGN KEY (request_id) REFERENCES public.request_quotes(id) ON DELETE CASCADE;


--
-- Name: subscriptions FK_fbdba4e2ac694cf8c9cecf4dc84; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT "FK_fbdba4e2ac694cf8c9cecf4dc84" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- Name: devis FK_fbf492b71506300f2b4e518f514; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.devis
    ADD CONSTRAINT "FK_fbf492b71506300f2b4e518f514" FOREIGN KEY (provider_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict J80bhimDK8l5ufbkqSwS6YUi1khwBRJ8HD8kNd95PhRJsdCypHdXku1pqfWLPdM

